wikipedia==1.4.0
PyUserInput==0.1.11
tinydb==3.9.0.post1
youtube_dl
spacy==2.1.3
pyowm==2.9.0
tensorflow==1.15.0
deepspeech==0.9.0a3
requests>=2.20.0
nltk
httplib2>=0.9.1
tweepy==3.7.0
metadata_parser==0.9.20
hug==2.4.0
hug-middleware-cors==1.0.0
waitress==2.1.1
SpeechRecognition
pyjwt==1.6.4
SQLAlchemy>=1.3.0
PyMySQL==0.8.1
msgpack==0.5.6
neuralcoref==4.0
deeppavlov==0.7.1
