<speech>
	<status>on</status>
	<brightnessControl>on</brightnessControl>
	<systemControl>on</systemControl>
	<songControl>on</songControl>
	<videoControl>on</videoControl>
	<internetControl>on</internetControl>
	<IntelVideoPause>off</IntelVideoPause>
	<IntelVideoControl>off</IntelVideoControl>
	<IntelBrightnessControl>on</IntelBrightnessControl>
	<IntelSystemLock>off</IntelSystemLock>
</speech>