Source: dragonfire
Section: python
Priority: extra
Maintainer: Mehmet Mert Yildiran <mert.yildiran@bil.omu.edu.tr>
Build-Depends: debhelper (>= 9), python3, python3-all-dev, libglib2.0-dev, libcairo2-dev, libgtk2.0-dev
Standards-Version: 3.9.5

Package: dragonfire
Architecture: any
X-Python3-Version: >= 3.2
Pre-Depends: dpkg (>= 1.16.1), python2.7-minimal, ${misc:Pre-Depends}
Depends: ${python3:Depends}, ${misc:Depends}, flite, python3-xlib, portaudio19-dev, python3-all-dev, flac, libnotify-bin, python3-lxml, python3-nltk, python3-pyaudio, python3-httplib2, python3-pip, python3-setuptools, python3-wheel, libgstreamer1.0-dev, gstreamer1.0-plugins-good, gstreamer1.0-tools, subversion, libatlas-base-dev, automake, autoconf, libtool, libgtk2.0-0, gir1.2-gtk-3.0
Description: Virtual assistant for Debian based Linux distributions.
	The user can execute it either from
	command line or from the Application Launcher. It receives
	voice commands from users and takes actions accordingly.
	Dragonfire goes through these steps for your commands,
	respectively: (1) Search across the built-in commands.
	(2) Try to Learn using Advanced NLP and Database Management
	Techniques. (3) Ask to Omniscient Q&A Engine. Dragonfire plays
	an avatar animation on the screen (for max 10 seconds)
	everytime she speaks. It uses default notification method
	of the system and also places an icon into system tray.
