Source: dragonfire
Section: python
Priority: extra
Maintainer: Mehmet Mert Yildiran <mert.yildiran@bil.omu.edu.tr>
Build-Depends: debhelper (>= 9), python, dh-virtualenv, python-all-dev, libglib2.0-dev, libcairo2-dev, libgtk2.0-dev, python-wxgtk3.0
Standards-Version: 3.9.5

Package: dragonfire
Architecture: any
Pre-Depends: dpkg (>= 1.16.1), python2.7-minimal, ${misc:Pre-Depends}
Depends: ${python:Depends}, ${misc:Depends}, julius, festival, festlex-cmu, python-xlib, portaudio19-dev, python-all-dev, flac, libnotify-bin, python-egenix-mx-base-dev, python-lxml, python-nltk, python-pyaudio, python-httplib2, python-pip, python-wxgtk3.0
Description: Dragonfire is an open source virtual assistant project for Ubuntu based Linux distributions
