wikipedia==1.4.0
PyUserInput==0.1.11
tinydb==3.9.0.post1
pyowm==2.9.0
tensorflow==1.0.0
tqdm
requests==2.19.1
lxml==3.5.0
nltk==3.1
httplib2>=0.9.1
imutils
PeakUtils
tweepy==3.6.0
metadata_parser==0.9.20
hug==2.4.0
hug-middleware-cors==1.0.0
waitress==1.1.0
SQLAlchemy==1.2.10
PyMySQL==0.8.1
m2r
